<footer class="footer">
  <mat-divider></mat-divider>
  <mat-toolbar class="footer__container">
    <div class="footer__copyright">
      <div class="footer__copyright_left">
        &copy; 2021
        <a
          href="https://github.com/IgorOsa"
          target="_blank"
          rel="nofollow noopener"
        >
          {{ 'Ihor Osadchyi' }}</a
        >.
      </div>
      <div class="footer__copyright_right">
        Made with <span class="footer__heart">&hearts;</span> in Kyiv.
      </div>
    </div>
  </mat-toolbar>
</footer>
