form {
  padding: 1rem;
}
mat-card {
  width: 400px;
  margin: auto;
}
mat-card-content {
  display: flex;
  flex-direction: column;
}
button {
  width: 100%;
}

@media screen and (max-width: 499px) {
  mat-card {
    width: auto;
  }
}
