<header>
  <mat-toolbar>
    <span class="title">{{ title }}</span>
    <span class="spacer"></span>
    <button mat-raised-button color="primary">
      <mat-icon aria-hidden="false" aria-label="Home" (click)="goToRoute('/')">
        home
      </mat-icon>
    </button>
    <button
      *ngIf="!isLoggedIn"
      class="header__btn"
      mat-raised-button
      color="primary"
      (click)="goToRoute('register')"
    >
      Register
    </button>
    <button
      *ngIf="!isLoggedIn"
      class="header__btn"
      mat-raised-button
      color="primary"
      (click)="goToRoute('login')"
    >
      LogIn
    </button>
    <button
      *ngIf="isLoggedIn"
      class="header__btn"
      mat-raised-button
      color="primary"
      (click)="logout()"
    >
      LogOut
    </button>
  </mat-toolbar>
  <mat-divider></mat-divider>
</header>
