.btn__add-column {
  width: 100%;
  margin-bottom: 1rem;
}

.board__container {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

.column__container {
  min-width: 212px;
  margin: 0 1rem 1rem;
  display: inline-block;
  vertical-align: top;
  flex-grow: 1;
}
